<!DOCTYPE html>
<html lang="es">
<head>
<!--METAETIQUETAS-->
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Página hecha por Rafael Manuel Sánchez Villanueva"/>
<meta name="robots" content="NOFOLLOW"/>
<meta name="Author" content="Rafael Manuel Sánchez Villanueva"/>
<meta name="keywords" content="MásterD, Práctica4, Curso Programación, HTML, CSS"/>
<meta name="lang" content="es"/>
<meta name="revisit-after" content="5 days"/>
<meta name="category" content="Prácticas"/>
<!--FAVICON-->
<link rel="icon" href="../favicon.png" type="image/png">
<!--CSS-->
<link rel="stylesheet" href="../css/estilos.css" type="text/css">
<title>Práctica 4 - Curso Programación MD</title>
</head>
<body>
    <div class="todoContainer">
    <div class="portada">
        <h1 class="titulo">Programatips</h1>
    </div>
    <header class="header">
        <nav>
            <ul id="barraNavegacion">
                <li><a href="../index.html">Índice</a></li>
                <li><a href="./enlaces.html">Enlaces</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="./noticias.html">Noticias</a></li>
                <li><a href="./registro.html">Registro</a></li>
            </ul>
        </nav>
    </header>
        <h2 class="lenguajesProgramacion">Nuestra galería</h2>
            <div class="contenedorImg">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
                <img src="../assets/img/exitae.png" alt="" class="imgGaleria">
            </div>    

            <article class="container3">
                <h3>Nuestro trabajo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt maxime sint quaerat accusamus iusto, doloribus architecto soluta minus laborum nostrum eligendi minima, dolor, hic harum distinctio nisi. At, reiciendis doloremque ipsam asperiores modi assumenda hic explicabo facilis cum quos expedita ipsum ratione illum consequatur quia nesciunt non fuga eum pariatur perspiciatis fugiat, maiores dignissimos itaque! Commodi amet assumenda alias porro voluptas inventore veniam ullam! Quis, itaque suscipit sequi unde veniam, tenetur doloremque nesciunt vitae placeat dolorum ducimus ut consequuntur illum iste eveniet quasi aliquam, quia illo eaque? Id, expedita veritatis! Adipisci ex odit hic. Expedita eius quisquam delectus hic repudiandae?
                    </p>
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt maxime sint quaerat accusamus iusto, doloribus architecto soluta minus laborum nostrum eligendi minima, dolor, hic harum distinctio nisi. At, reiciendis doloremque ipsam asperiores modi assumenda hic explicabo facilis cum quos expedita ipsum ratione illum consequatur quia nesciunt non fuga eum pariatur perspiciatis fugiat, maiores dignissimos itaque! Commodi amet assumenda alias porro voluptas inventore veniam ullam! Quis, itaque suscipit sequi unde veniam, tenetur doloremque nesciunt vitae placeat dolorum ducimus ut consequuntur illum iste eveniet quasi aliquam, quia illo eaque? Id, expedita veritatis! Adipisci ex odit hic. Expedita eius quisquam delectus hic repudiandae?    
                </p>
                <img src="../assets/img/serviciosmovil.png" alt="" class="imgGaleria1"> 
            </article>   
    <footer>
        <div class="footerContainer">
            <p>Web realizada por &copy;Programatips</p>
            <a href="https://www.instagram.com/"><img class="redes" src="../assets/img/580b57fcd9996e24bc43c521.png" alt="Instagram icon" width="1000" height="1000"></a>
            <a href=""><img src="../assets/img/facebook-2429746_640.png" alt="" class="redes"></a>
            <a href=""><img src="../assets/img/linked-in-2668700_640.png" alt="" class="redes"></a>
        </div>
    </footer>
</div>
<!--JAVASCRIPT-->
<script src="../javascript/javascript.js" type="text/javascript"></script>
</body>
</html>